<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Ingredient</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
</head>
<body>
<div class="h2 text-center">Add Ingedient</div>

<form th:action="@{/ingredient/save}" method="post" th:object="${ingredient}"
      style="max-width: 500px; margin: 0 auto;">

    <div class="border border-secondary p-4 rounded">
        <div class="form-group row">

            <label class="col-sm-3">Ingredient</label>
            <div class="col-sm-8 mb-3">
                <input type="text" class="form-control" required th:field="*{name}"/>
            </div>

            <div>
                <label class="col-sm-3"></label>
                <button class="btn btn-primary mb-1" type="submit">Save Ingredient</button>
                <button class="btn btn-primary mb-1" th:href="@{/en}">Cancel</button>
            </div>
        </div>
    </div>

</form>
</body>
</html>