<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Dish</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<div class="h2 text-center">Edit Dish</div>

<form th:action="@{/dish/save}" method="post" th:object="${dish}"
      style="max-width: 500px; margin: 0 auto;">

    <div class="border border-secondary p-4 rounded">

        <div class="form-group row">


            <label class="col-sm-3">ID</label>
            <div class="col-sm-8 mb-3">
                <input type="text" class="form-control" readonly th:field="*{id}"/>
            </div>

            <label class="col-sm-3">Food</label>
            <div class="col-sm-8 mb-3">
                <input type="text" class="form-control" required th:field="*{name}"/>
            </div>

            <label class="col-sm-3">Type</label>
            <div class="col-sm-8 mb-3">
                <input type="text" class="form-control" required th:field="*{type}"/>
            </div>

            <div>
                <label class="col-sm-3"></label>
                <button class="btn btn-primary mb-1" type="submit">Save Dish</button>
                <button class="btn btn-primary mb-1" th:href="@{/}">Cancel</button>
                <a class="btn btn-primary mb-1" th:href="@{/updateDish/addIngredient(dishID=${dish.id})}">Add Ingredient</a>

            </div>
        </div>
    </div>



</form>

</body>
</html>